ion-card{
    --background: #f0f0ee !important;
    margin-bottom: 20px !important;
}

ion-list{
    --background: #f0f0ee !important;
    background: none !important;
}

ion-item{
    --background: #eff0ee !important;
    --border-radius: 4px !important;
}

ion-card-content{
    --background: #f0f0ee !important;
}