<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title color='primary'>
      SHORE!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img style="margin:auto; width:128px !important" src="/assets/whale.png">
      <ion-card-header>
        <ion-card-title color="primary">Welcome Whale Watchers</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Watch how whales move their positions, with live tracking. Analyze and do your research.
          Do not make financial judgement based on this app. 
        </p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none" *ngIf="show">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item [routerLink]="['/top-cdp']">
        <ion-icon slot="start" color="primary" name="book"></ion-icon>
        <ion-label>Top Cdps</ion-label>
      </ion-item>
      <!-- <ion-item>
        <ion-icon slot="start" color="primary" name="build"></ion-icon>
        <ion-label>Cdp Average</ion-label>
      </ion-item> -->
      <ion-item [routerLink]="['/list']">
        <ion-icon slot="start" color="primary" name="grid"></ion-icon>
        <ion-label>Colat Trend</ion-label>
      </ion-item>
    </ion-list>
    <div *ngIf="!show" style="width: 100%; text-align: center;">
      <img src='/assets/loader.gif'>
      </div>
</ion-content>
